.background {
    height: 100%;
    width: 1024px;
    background-color: gainsboro;
    margin: auto;
    border-radius: 5px;
}


/**/
.header {
    position: relative;
    height: 30px;
    background-color: #ffffff;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.headerHover {
    position: relative;
    height: 30px;
    background-color: antiquewhite;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.headerOpen {
    position: relative;
    height: 800px;
    background-color: antiquewhite;
}
.header-carousel {
    text-align: center;
}
.header-bottom-nga-div {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.header-bottom-nga-icon {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.header-bottom-add-icon {
    position: absolute;
    top: 5px;
    right: 48px;
}
.header-bottom-del-icon {
    position: absolute;
    top: 5px;
    right: 18px;
}
.header-bottom-import-icon {
    position: absolute;
    top: 5px;
    right: 78px;
}
.add-icon {
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.add-icon:hover {
    color: #00bfff;
}
.add-icon:active {
    transform: rotate(30deg);
}
.del-icon {
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.del-icon:hover {
    color: #ff4855;
}
.del-icon:active {
    transform: rotate(30deg);
}
.del-dropdownMenu-div {
    padding: 8px 16px;
}
/*.del-divider {
    margin: 0;
}*/
#del-divider {
    margin: 0;
}
.import-icon {
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.import-icon:hover {
    color: #9a4f00;
}
.import-icon:active {
    transform: rotate(30deg);
}
.header-bottom-openMore-icon {
    position: absolute;
    bottom: 3px;
    left: 502px;
}
.openMore-icon {
    color: #a1a3a1;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.openMore-icon:hover {
    color: #000000;
}
.collapse {
    background-color: antiquewhite;
    text-align: left;
}
.collapse-panel {
    background-color: antiquewhite;
}
.header-open {

}


/**/
.content {
    height: 80%;
    border-radius: 5px;
    padding-bottom: 15px;
    background-color: gainsboro;
}


/**/
.category-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 97%;
}
.window {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
    height: 100px;
    width: 97%;
}
.window-card {
    margin-top: 15px;
    margin-bottom: -10px;
    margin-right: auto;
    height: 70px;
    width: 100%;
    cursor: pointer;
}
.window-card .ivu-card-body{
    height: 100%;
}
.window-card:hover {
    margin: 12px -2% -12px -2%;
    height: 76px;
    width: 104%;
}
.window-card-content {
    text-align: center;
}
.bookmark-card {
    overflow-y: auto;
}
.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 97%;
}
.card:hover {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 98%;
}
.note-search {
    margin: 5px 0 5px 0;
    color: antiquewhite;
}
.category-list {
    text-align: left;
}
.note-category-list {
    text-align: left;
    padding: 30px 20px 20px 20px;
}
.note-category-tag {
    background-color: #faf3e9;
    height: auto;
}
.category-tag {

}
.category-tag-span {
    display: inline-block;
    margin: 2px 10px;
}
.card-title {
    text-align: left;
}
.card-title-checkBox {
    margin-left: -0.6%;
}
/*.card-title-text {
    display: inline;
}*/
#card-title-text {
    display: inline;
}
.card-mark-checkBox {
    position: absolute;
    left: -20px;
}
.card-title-icon1 {
    position: absolute;
    right: 75px;
    cursor: pointer;
}
.card-title-icon2 {
    position: absolute;
    right: 45px;
    cursor: pointer;
}
.card-title-icon3 {
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.card-title-icon1:hover, .card-title-icon2:hover, .card-title-icon3:hover {
    color: black;
}
.card-title-icon1:active, .card-title-icon2:active, .card-title-icon3:active {

}
.card-col {
    margin-bottom: 10px;
    text-align: left;
}
.card-mark-text {
    cursor: pointer;
    color: black;
}
.card-mark-text:hover {
    color: #ff7f50;
}
.card-icon {
    height: 16px;
    width: 16px;
    margin-right: 3px;
    /*margin-bottom: -3px;*/
}


/**/
.card-note-text {
    cursor: pointer;
    color: #3f3f3f;
    font-size: 14px;
    display: block;
}
.card-note-text:hover {
    color: #ff7f50;
}
.card-note-title {
    font-size: 14px;
    font-weight: bold;
}

/*color*/
.import {
    color: #9a4f00;
}
.add {
    color: #00bfff;
}
.del {
    color: #ff4855;
}

/*iviewUI*/
.note-category-list .ivu-input-with-suffix {
    padding-right: 32px;
    background-color: #fff8ed;
}

.header-open .ivu-collapse-content {
    color: #515a6e;
    padding: 0 16px;
    background-color: antiquewhite;
}

.note-category-list .ivu-btn-dashed {
    color: #515a6e;
    background-color: #fff8ed;
    border-color: #dcdee2;
    border-style: dashed;
}
