@media screen and (max-width: 768px){
    .nga-background {
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        margin: auto;
        border-radius: 4px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .nga-background {
        height: 100%;
        width: 1024px;
        background-color: #ffffff;
        margin: auto;
        border-radius: 4px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .nga-background {
        height: 100%;
        width: 1024px;
        background-color: #ffffff;
        margin: auto;
        border-radius: 4px;
    }
}

@media screen and (min-width: 1200px) {
    .nga-background {
        height: 100%;
        width: 1024px;
        background-color: #ffffff;
        margin: auto;
        border-radius: 4px;
    }
}

/*.nga-background {
    height: 100%;
    width: 1024px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
}*/

.search {
    position: relative;
    padding: 10px 16px 8px 16px;
    text-align: left;
    height: 48px;
}

.filter {
    padding: 0 18px;
    text-align: right;
}

.filter span {
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
    -o-transition: all 0.2s; /* Opera */
}

.filter span:hover {
    color: #f1795c;
}

.icon-home {
    position: absolute;
    text-align: center;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border: 1px solid #d3d3d3; border-radius: 25px;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.icon-home:hover {
    color: #f1795c;
    border: 1px solid #f18970; border-radius: 25px;
}

.icon-favorite {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.icon-favorite:hover {

}

.ft-search{
    width: 92px;
    position: absolute;
    right: 16px;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.ftSearchOpen{
    width: 980px;
}

.ft-search-close{
    color: #cccccc;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.reply-title{
    padding: 16px;
    background-color: #FFFFFF;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #e8eaec;
}
.reply-title p{
    font-size: 20px;
    font-weight: bold;
}

.reply-list{
    padding: 0 16px;
}

.pagination{
    text-align: left;
    padding: 16px;
    border-radius: 4px;
}

.reply-text{
    text-align: left;
}

.reply-lou{
    float: right;
    text-align: right;
}

.reply-postdate{
    margin-right: 20px;
    color: #969896;
    font-size: 10px;
}

.reply-avatar{
    width: 38px;
    height: 38px;
    line-height: 32px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}

.reply-quote{
    background-color: #F9F9F9;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}

.reply-del-text{
    text-decoration:line-through;
}

.reply-attach-icon{

    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e8eaec;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 12px;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition: all 0.3s; /* Safari and Chrome */
    -o-transition: all 0.3s; /* Opera */
}

.reply-attach-icon:hover{
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e8eaec;
    border-radius: 3px;
    background: #e2e2e2;
    font-size: 12px;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
}

.reply-supplement{
    float: right;
    margin-top: -20px;
}

.reply-supplement-signature{
    cursor: pointer;
}

.search-highlight{
    color: #f18970;
}

.onlyLouButton{
    color: #f18970;
    border-color: #f18970;
}

.onlyImageButton{
    color: #f18970;
    border-color: #f18970;
}

/*user*/

.user-center-spin{
    float: right;
}

.user-username-span{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.user-reply-div{
    border: 1px solid #dcdee2;
    display: block;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    transition: all .2s ease-in-out;
}

.user-card{
    font-weight: bold;
    padding: 12px;
    width: 240px;
    height: 100%;
    float: right;
}

    /*iviewUI*/
.ivu-table .row-background{
    /*background-color: antiquewhite;*/
    cursor: pointer;
}

.ivu-list-vertical .ivu-list-item-meta-title {
    margin-bottom: 12px;
    color: rgba(0,0,0,.85);
    font-size: 12px;
    line-height: 24px;
}

.ivu-btn:focus {
    box-shadow: 0 0 0 0 rgba(45,140,240,.2);
}

.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}

.reply-supplement .ivu-tooltip-inner {
    max-width: 1024px;
}

.reply-list .ivu-list-item-meta-description{
    margin-top: -15px;
    font-size: 8px;
}

/*
.ivu-input-with-suffix {
    padding-right: 32px;
    background-color: #fff8ed;
}

.ivu-page-item-active a, .ivu-page-item-active:hover a {
    color: #000000;
    font-weight: bold;
}
.ivu-page-next, .ivu-page-prev {
    background-color: #fff8ed;
}
.ivu-page-item {
    display: inline-block;
    vertical-align: middle;
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    margin-right: 4px;
    text-align: center;
    list-style: none;
    background-color: #fff8ed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-family: Arial;
    font-weight: 500;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    transition: border .2s ease-in-out,color .2s ease-in-out;
}
.ivu-select-selection {
    display: block;
    box-sizing: border-box;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #fff8ed;
    border-radius: 4px;
    border: 1px solid #dcdee2;
    transition: all .2s ease-in-out;
}
.ivu-select-dropdown {
    width: inherit;
    max-height: 200px;
    overflow: auto;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #fff8ed;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    position: absolute;
    z-index: 900;
}
.ivu-page-options-elevator input {
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 14px;
    border: 1px solid #dcdee2;
    color: #515a6e;
    background-color: #fff8ed;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
    border-radius: 4px;
    margin: 0 8px;
    width: 50px;
}*/
