.person-background {
    height: 100%;
    width: 1024px;
    /*background-color: #f8f8f8;*/
    margin: auto;
    border-radius: 5px;
}

.person-header {
    position:relative;
    height: 50px;
}
.person-header-content {
    margin-left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.person-content-background {
    padding: 12px;
    position: relative;
}

.person-card {
    position:relative;
    min-height: 220px;
}

.person-header {
    position:relative;
}
.person-header-name {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.person-more-button {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.detail-tab-div {
    float: left;
    width: 46%;
    margin-right: 2%;
}

.detail-tab-div .card-label-div {
    margin-bottom: 12px;
}

.scroll-loading {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.4), rgba(255,255,255,0.9));
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.scroll-loading .ivu-spin {
    color: #2d8cf0;
    vertical-align: middle;
    text-align: center;
    margin-top: 10%;
}

.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}

/*iviewUI*/

.person-background .ivu-scroll-container {
    overflow-x: hidden;
}
