.person-background {
    height: 100%;
    width: 1024px;
    /*background-color: #f8f8f8;*/
    margin: auto;
    border-radius: 5px;
}

.person-header {
    position:relative;
    height: 50px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0 12px 0 12px;
}
.person-header-content {
    position: absolute;
    width: 1000px;
    top: 50%;
    transform: translateY(-50%);
}

.person-header-add-icon {
    width: 10%;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.person-header-add-icon:hover {
    color: #00bfff;
}

/*.add-icon {
    transition: all 0.5s;
    -moz-transition: all 0.5s; !* Firefox 4 *!
    -webkit-transition: all 0.5s; !* Safari and Chrome *!
    -o-transition: all 0.5s; !* Opera *!
}
.add-icon:hover {
    color: #00bfff;
}
.add-icon:active {
    transform: rotate(30deg);
}*/

.demo-drawer-footer {

}

.person-header-search {
    display: inline-block;
    width: 90%;
}

.person-content-background {
    padding: 12px;
    position: relative;
}

.person-card {
    position:relative;
    min-height: 240px;
    padding: 16px;
    user-select: none;
}

.person-card-header {
    position:relative;
}
.person-card-header-name {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.person-card-hide-button {
    position: absolute;
    right: 40px;
    bottom: 16px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.person-card-hide-button:hover {
    color: #000000
}

.person-card-show-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.person-card-show-button:hover {
    color: #000000
}

.person-card-more-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.person-card-more-button:hover {
    color: #000000
}

.detail-tab-div {
    float: left;
    width: 46%;
    margin-right: 2%;
}

.detail-tab-div .card-label-div {
    margin-bottom: 12px;
}

.scroll-loading {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.4), rgba(255,255,255,0.9));
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.scroll-loading .ivu-spin {
    color: #2d8cf0;
    vertical-align: middle;
    text-align: center;
    margin-top: 10%;
}

.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}

/*iviewUI*/

.person-background .ivu-scroll-container {
    overflow-x: hidden;
}

.person-content-background .ivu-card-body{
    padding: 2px;
}

.vue-waterfall.is-transition img {
    opacity: 1;
}
