.background {
    height: 100%;
    width: 1024px;
    background-color: #f8f8f8;
    margin: auto;
    border-radius: 5px;
}

.header {
    position:relative;
    height: 50px;
}
.header-content {
    margin-left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.person-background {
    padding: 12px;
}

.person-card {
    position:relative;
}

.person-header {
    position:relative;
}
.person-header-name {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.person-more-button {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.detail-tab-div {
    float: left;
    width: 46%;
    margin-right: 2%;
}

.detail-tab-div .card-label-div {
    margin-bottom: 12px;
}

/*iviewUI*/

.person-background .ivu-scroll-container {
    overflow-x: hidden;
}
