.release-background {
    height: 100%;
    width: 1024px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
}

.release-content-div {
    min-height: 850px;
    padding: 16px;
    text-align: center;
}

.release-header-div {
    position: relative;
    height: 74px;
}

.release-header-group-name {
    padding-top: 10px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.release-header-add-icon {
    position: absolute;
    right: 4px;
    bottom: -1px;
    width: 70px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.release-header-add-icon:hover {
    color: #00bfff;
}