.stat-background {
    height: 100%;
    width: 1024px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
}

.stat-content {
    padding: 16px;
}

.stat-title {
    font-size: 19px;
    font-weight: bold;
    color: #464646;
}